<app-nav-bar></app-nav-bar>

<div class="row d-none d-md-flex">
    <div class="col-3">
        <app-left-navigation-bar> </app-left-navigation-bar>
    </div>
    <div class="col-9" id="body">
        <p>Resultados de la Busqueda para Dua Lipa</p>
        <div class="row my-5">
            <div>
                <h1>Canciones</h1>
            </div>

            <table class="table mt-4">
                <thead>
                    <th>

                    </th>
                    <th>
                        TITLE
                    </th>
                    <th>
                        ARTIST
                    </th>
                    <th>ALBUM</th>
                    <th>
                        RELEASE DATE
                    </th>
                    <th>

                    </th>
                </thead>
                <tbody>
                    <tr *ngFor="let song of songs">
                        <td>
                            <fa-icon [icon]="faPlay" class="table-icon"> </fa-icon>
                        </td>
                        <td [routerLink]="['/song/detail']">
                            {{song.name}}
                        </td>
                        <td>
                            {{song.artist}}
                        </td>
                        <td>
                            {{song.album}}
                        </td>
                        <td>
                            {{song.release}}
                        </td>
                        <td class="text-right">
                            <a class="corazon" (click)="clickCorazon()" [style.color]="getCorazon()">
                                <fa-icon [icon]="faHeart" class="mx-2 icon"></fa-icon>
                            </a>
                            <fa-icon [icon]="faList" class="mx-4 table-icon"> </fa-icon>
                            <fa-icon [icon]="faDots" class="table-icon"></fa-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a class="icono-left">
                <span>+ Ver Mas</span>
            </a>
        </div>

        <div class="row my-5">
            <h1 class="title-row">Playlist</h1>
            <div class="row">
                <app-playlist-item [routerLink]="['/playlist/detail']"> </app-playlist-item>
                <app-playlist-item [routerLink]="['/playlist/detail']"> </app-playlist-item>
                <app-playlist-item [routerLink]="['/playlist/detail']"> </app-playlist-item>
                <app-playlist-item [routerLink]="['/playlist/detail']"> </app-playlist-item>
                <app-playlist-item [routerLink]="['/playlist/detail']"> </app-playlist-item>
            </div>
        </div>

        <div class="row mt-5 last-row">
            <h1 class="title-row"> Podcast</h1>
            <div class="row">
                <app-playlist-item [routerLink]="['/podcast/detail']"> </app-playlist-item>
                <app-playlist-item [routerLink]="['/podcast/detail']"> </app-playlist-item>
                <app-playlist-item [routerLink]="['/podcast/detail']"> </app-playlist-item>
                <app-playlist-item [routerLink]="['/podcast/detail']"> </app-playlist-item>
                <app-playlist-item [routerLink]="['/podcast/detail']"> </app-playlist-item>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>

<!-- MOBILE -->
<div id="mobile">

    <div class="mt-5 pt-4">
        <p>Resultados de la Busqueda para Dua Lipa</p>
        <h2>Canciones</h2>

        <table class="table">
            <thead>

            </thead>
            <tbody>
                <tr *ngFor="let song of songs">
                    <td>
                        <fa-icon [icon]="faPlay"> </fa-icon>
                    </td>
                    <td [routerLink]="['/song/detail']">
                        {{song.name}}
                    </td>
                    <td class="text-right">
                        <fa-icon *ngIf="song.favorite" [icon]="faHeart" class="mx-5"> </fa-icon>
                        <fa-icon [icon]="faDots"></fa-icon>
                    </td>
                </tr>
            </tbody>
        </table>
        <a class="icono-left">
            <span>+ Ver Mas</span>
        </a>
    </div>

    <div class="mt-5 pt-4">
        <h2> Playlist</h2>
        <div class="row">
            <app-playlist-item [routerLink]="['/playlist/detail']"> </app-playlist-item>
            <app-playlist-item [routerLink]="['/playlist/detail']"> </app-playlist-item>
            <app-playlist-item [routerLink]="['/playlist/detail']"> </app-playlist-item>
            <app-playlist-item [routerLink]="['/playlist/detail']"> </app-playlist-item>
        </div>
    </div>

    <div class="mt-5 pt-4">
        <h2> Podcast</h2>
        <div class="row">
            <app-playlist-item [routerLink]="['/podcast/detail']"> </app-playlist-item>
            <app-playlist-item [routerLink]="['/podcast/detail']"> </app-playlist-item>
            <app-playlist-item [routerLink]="['/podcast/detail']"> </app-playlist-item>
            <app-playlist-item [routerLink]="['/podcast/detail']"> </app-playlist-item>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<app-music-reproductor></app-music-reproductor>