@media only screen and (max-width: 360px) {
    .landing {
        background-image: url("../../assets/Landing.png");
        background-position: center;
        background-repeat: none;
        background-size: cover;
        padding-top: 100px;
    }
    .landing-component {
        margin-top: 7em;
        margin-bottom: 4em;
    }
    .primary-button {
        height: 48px;
        width: 268px;
    }
}

@media only screen and (min-width: 360px) {
    .landing {
        background-image: url("../../assets/Landing-page.png");
        background-position: center;
        background-repeat: none;
        width: 100%;
        padding-top: 100px
    }
}