textarea {
    height: 77px;
    width: 90%;
    resize: none;
}

.bordered {
    border-radius: 22px;
    border: 2px black solid;
}

.primary-button {
    width: 128px;
    height: 30px;
    border-radius: 100px;
}