footer {
    height: 100px;
    width: 100vw;
    background-color: var(--dark-grey);
    color: white;
    border-width: 1px;
    border-top-style: solid;
    border-top-color: coral;
}

.icon {
    font-size: 22px;
}

.play {
    font-size: 36px;
}

.reproductor {
    font-size: 28px;
}

.arrow {
    font-size: 16px;
}

button {
    background-color: transparent;
    border: none;
    color: black;
}

.star :hover{
    color: yellow;
}

.corazon :hover{
    color: rgba(250, 39, 39, 0.822);
}

@media only screen and (min-width: 420px) {
    footer {
        height: 118px;
    }
    p {
        margin: 0;
        padding: 0;
    }
    .review fa-icon {
        font-size: 22px;
    }
    .music fa-icon {
        font-size: 38px;
    }
    fa-icon {
        font-size: 28px;
    }
    .music .play {
        font-size: 50px;
    }
}