nav {
    background-color: #181B2C;
    height: 10vh;
    width: 100vw;
}

@media only screen and (max-width: 420px) {
    a {
        text-decoration: none !important;
        color: white;
        font-size: 16px;
    }
    .primary-button {
        font-size: 16px;
        padding: 5px 13px 5px 13px;
    }
}