<app-nav-bar> </app-nav-bar>

<div>
    <div class="row d-none d-md-flex">
        <div class="col-3">
            <app-left-navigation-bar> </app-left-navigation-bar>
        </div>
        <div class="col-9" id="body">
            <div class="row my-5">
                <div>
                    <h1> Novedades</h1>
                </div>

                <div class="row">
                    <app-playlist-item> </app-playlist-item>
                    <app-playlist-item> </app-playlist-item>
                    <app-playlist-item> </app-playlist-item>
                    <app-playlist-item> </app-playlist-item>
                    <app-playlist-item> </app-playlist-item>
                </div>

            </div>

            <div class="row  my-5">
                <h1> Recomendaciones para ti</h1>

                <div class="row">
                    <app-playlist-item> </app-playlist-item>
                    <app-playlist-item> </app-playlist-item>
                    <app-playlist-item> </app-playlist-item>
                    <app-playlist-item> </app-playlist-item>
                    <app-playlist-item> </app-playlist-item>
                </div>
            </div>

            <div class="row mt-5 last-row">
                <h1> Mas escuchados</h1>
                <div class="row">
                    <app-playlist-item> </app-playlist-item>
                    <app-playlist-item> </app-playlist-item>
                    <app-playlist-item> </app-playlist-item>
                    <app-playlist-item> </app-playlist-item>
                    <app-playlist-item> </app-playlist-item>
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>
    </div>

    <!-- Mobile -->
    <div id="mobile">
        <div class="mt-5 pt-4">
            <h2> Novedades</h2>
            <div class="row">
                <app-playlist-item> </app-playlist-item>
                <app-playlist-item> </app-playlist-item>
                <app-playlist-item> </app-playlist-item>
                <app-playlist-item> </app-playlist-item>

            </div>
        </div>
        <div>
            <h2> Recomendaciones</h2>
            <div class="row">
                <app-playlist-item> </app-playlist-item>
                <app-playlist-item> </app-playlist-item>
                <app-playlist-item> </app-playlist-item>
                <app-playlist-item> </app-playlist-item>

            </div>
        </div>
        <div class="last-row">
            <h2> Mas escuchados</h2>
            <div class="row">
                <app-playlist-item> </app-playlist-item>
                <app-playlist-item> </app-playlist-item>
                <app-playlist-item> </app-playlist-item>
                <app-playlist-item> </app-playlist-item>

            </div>>
        </div>
    </div>
</div>

<app-music-reproductor> </app-music-reproductor>