<nav>
    <a class="icono-left" href="#">
        <img src="./assets/iconos/arrow.svg" width="20" height="20" alt="" loading="lazy">
    </a>

    <a class="logoSpoiler" href="#">
        <img src="./assets/iconos/logo.png" width="30" height="30" alt="" loading="lazy">
        Spoiler Five
    </a>

    <a class="icono" href="#">
        <img src="./assets/iconos/burguer-menu.svg" width="20" height="20" class="align-top logo" alt="" loading="lazy">
    </a>

    <a class="icono" href="#">
        <img src="./assets/iconos/Notificacion-bell.svg" width="20" height="20" class="align-top logo" alt=""
            loading="lazy">
    </a>

    <a class="icono" href="#">
        <img src="./assets/iconos/Vector.svg" width="20" height="20" class="align-top logo" alt="" loading="lazy">
    </a>

</nav>