<nav>
    <a class="icono-left" href="#">
        <img src="./assets/iconos/arrow.svg" width="25" height="25" alt="" loading="lazy">
    </a>

    <a class="logoSpoiler" href="#">
        <img src="./assets/iconos/logo.png" width="40" height="40" alt="" loading="lazy">
        Spoiler Five
    </a>

    <a class="icono" (click)="clickAddTodo()">
        <img src="./assets/iconos/burguer-menu.svg" width="25" height="25" class="align-top logo" alt="" loading="lazy">
    </a>

    <a class="icono" href="#">
        <img src="./assets/iconos/Notificacion-bell.svg" width="25" height="25" class="align-top logo" alt=""
            loading="lazy">
    </a>

    <a class="icono" href="#">
        <img src="./assets/iconos/Vector.svg" width="25" height="25" class="align-top logo" alt="" loading="lazy">
    </a>
</nav>

<div id="menu" [style.right]="getPixeles()">
    <img id="img-perfil" src="./assets/iconos/img-perfil.png" alt="">
    <div class="lista">
        <a href="#">
            <h3>Inicio</h3>
        </a>
    </div>
    <div class="lista">
        <a href="#">
            <h3>Mi Música</h3>
        </a>
    </div>
    <div class="lista">
        <a href="#">
            <h3>Mi Cuenta</h3>
        </a>
    </div>
    <div class="lista">
        <a href="#">
            <h3>Premium</h3>
        </a>
    </div>
    <div class="lista">
        <a href="#">
            <h3>Configuración</h3>
        </a>
    </div>
    <div class="lista">
        <a href="#">
            <h3>Ayuda</h3>
        </a>
    </div>

    <div class="fotter">
        <a href="#">
            <h3>Cerrar Sesión</h3>
        </a>
    </div>

</div>